/cmake-build-debug
cmake-build-debug
**cmake-build-debug/**
cmake-build-debug/
cmake-build-debug/**
.vscode/settings.json
/CMakeFiles
.idea
.vscode
/src/generated_files
/src/.vscode
/build
output.txt
src/.vscode/c_cpp_properties.json
src/.vscode/launch.json
src/.vscode/settings.json
